{% extends 'producto.producto/index.html' %}


{% block title %} Lista de Categorías de Productos {% endblock title %}

{% block content_producto %}


    {% if object_list %}

        <!-- Sirve para buscar categorías por nombre. Se pasa a la variable consulta de la vista. -->
        <div class="py-lg-4">
            <form action="{% url 'producto:productocategoria_list' %}" method="get">
                <input name="consulta" type="text" placeholder="Buscar...">
            </form>
        </div>

        {% for categoria in object_list %}
            <ul>
                <li>{{ producto.nombre }} {{ producto.precio}}
                    <a href="{% url 'producto:productocategoria_detail' categoria.id %}" class="btn btn-secondary">Ver detalle</a>
                    <a href="{% url 'producto:productocategoria_update' categoria.id %}" class="btn btn-primary">Actualizar</a>
                    <a href="{% url 'producto:productocategoria_delete' categoria.id %}" class="btn btn-danger">Eliminar</a>
                </li>
            </ul>
        {% endfor %}
    {% else %}
        <p class="fs-4 fst-italic">No hay registros ingresados</p>
    {% endif %}

    {% include 'producto/index_back.html' %}
s
{% endblock content_producto %}