{% extends 'home/base.html' %}

{% block content %}
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://media.istockphoto.com/id/621109162/es/foto/close-up-concepto-de-tarjeta-de-felicitaci%C3%B3n-del-tesoro-de-pecho-vintage-abierto.jpg?s=612x612&w=0&k=20&c=dtILFNpuBp4AxBDxaYVcGOg1sWLd2p3DHRqdmSWyHtw=" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">La Caja de Pandora</h1>
            <p>La Caja de Pandora es un lugar mágico donde tus sueños se hacen realidad. Nuestro catálogo está lleno de tesoros y maravillas esperando a ser descubiertos por nuestros clientes más aventureros.</p>
            <a class="btn btn-info" href="#!">Contactanos</a>
        </div>
    </div>
{% endblock content %}