{% extends 'home/base.html' %}


{% block content %}

    <h1 class="shadow-lg text-center">App Producto</h1>
    <div class="container mt-lg-3">

        <h3 class="pb-lg-3">
            {% block title %}
                Categorías de Productos
            {% endblock title %}
        </h3>

        {% block content_producto %}
            <a href="{% url 'producto:productocategoria_create' %}" class="btn btn-primary">Crear</a>
            <a href="{% url 'producto:productocategoria_list' %}" class="btn btn-primary">Listar</a> <br>
        {% endblock content_producto %}

    </div>
{% endblock content %}